* {
  margin: 0px;
  padding: 10px;
}
.Principio {
  background-color: rgb(7, 7, 7);
  color: rgb(255, 255, 255);
}
.Principio nav {
  background-color: rgb(7, 7, 7);
  float: center;
}
.Principio a:hover {
  background-color: rgb(222, 36, 36);
  color: white;
}
.Principio a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.Principio h1 {
  text-align: right;
}

body {
  background-color: rgb(7, 7, 7);
  color: rgb(255, 255, 255);
  text-align: center;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding: 1px;
}
.menu ul li {
  list-style-type: none;
  text-decoration-line: none;
}
.Social a img {
  width: 50px;
  height: 50px;
}

.Inicio img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.Social a img {
  width: 50px;
  height: 50px;
  align-items: center;
}
.Social p {
  width: auto; /* Ancho del contenedor */
  height: auto; /* Alto del contenedor */
  background-color: white; /* Color de fondo blanco */
  border: 4px solid black;
  text-align: right;
  color: black;
}

.Hobbies a img {
  width: 48px;
  position: fixed;
  top: 50px;
  right: 15px;
}

.imghobbies img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 250px;
  float: left;
  margin-right: 20px;
}
.imghobbies p {
  text-align: center;
}
.imghobbies h2 {
  color: aliceblue;
}
.caja {
  width: auto; /* Ancho del contenedor */
  height: 243px; /* Alto del contenedor */
  background-color: white; /* Color de fondo blanco */
  border: 4px solid black;
  color: black;
}
.caja1 {
  width: auto; /* Ancho del contenedor */
  height: auto; /* Alto del contenedor */
  background-color: rgb(52, 8, 8); /* Color de fondo blanco */
  border: 4px solid rgb(244, 241, 241);
  color: rgb(247, 243, 243);
}
.tituloIcono h1 {
  float: center;
  font-size: 50px;
}
.tituloIcono h2 {
  float: center -20px;
  font-size: 35px;
}
.tituloIcono i {
  float: left;
  font-size: 25px;
}
.Reloj {
  margin-top: 25px;
  padding: 10px;
  width: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 4px solid cyan;
}
.btnForm {
  margin-top: 25px;
  background-color: black;
  border: 4px solid white;
}
.btnForm a {
  text-decoration-line: none;
  color: brown;
}
.btnForm :hover {
  background-color: white;
  border: 4px solid greenyellow;
}
a:hover {
  color: salmon;
}
.contador {
  margin-top: 10px;
}
.formulario {
  box-sizing: border-box;
}
.formulario section {
  border: 2px solid silver;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}
.formulario label {
  display: block;
}
footer {
  margin-top: 20px;
  text-align: left;
}
#contador {
  font-size: 2em;
  text-align: center;
  margin-top: 10px;
}
.alertaButton a button :hover {
  background-color: black;
  color: white;
}
